/* CSS Document */
body {
	font-family: "Helvetica", Arial, sans-serif;
}

#lang-list {
	text-align: center;
}


.ui-controlgroup {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 250px;
}

img {
	width: 50%;
	max-width: 200px;
}

